@media (320px <= width <= 640px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    position: relative;
  }
  .header {
    width: 100vw;
  }
  .banner {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(90deg, #658c4a 0%, #89bc68 100%);
  }
  .banner > span {
    color: #ffffff;
    text-align: center;
    /* Body Xtra Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
  }

  .navbar {
    background: #ffffff;
    display: flex;
    padding: 0.75rem 0.9375rem 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    /* shadow */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 64px;
  }

  .logo > img {
    max-width: 100%;
  }

  .btn-group {
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .btn-group > button {
    background-color: #ffffff;
    border: none;
    outline: none;
  }

  .btn-group > button img {
    width: 2rem;
    height: 2rem;
  }

  nav {
    border-bottom: 1px solid #658c4a;
    background: #ffffff;
    display: flex;
    padding: 0.75rem 0.9375rem 0.75rem 1rem;
    align-items: center;
    gap: 1.5rem;
  }

  .search-field {
    border-radius: 2.5rem;
    border: 1px solid #cccccc;
    display: flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
  }

  #search {
    flex: 1 0 0;
    border: none;
    outline: none;
    color: #999999;
    /* Body Xtra Small Regular */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem; /* 133.333% */
  }

  .menu-icon {
    width: 2rem;
    height: 2rem;
  }

  .menu-list {
    display: flex;
    padding: 0.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .hidden {
    display: none;
  }
  .menu {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
  }
  .menu > a {
    display: block;
    width: 100%;
    color: #262626;
    text-decoration: none;
    /* text-xs/Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
  }

  .main {
    background: #f5f5f5;
  }
  .hero {
    display: flex;
    padding: 5rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 700px;
    background: url("../assets/images/hero-image.jpg") rgba(255, 255, 255, 0.7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-blend-mode: screen;
  }

  .hero > h1 {
    color: #333333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .hero > p {
    color: #666666;
    text-align: center;
    /* Body Small Regular */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }
  .hero > a {
    text-decoration: none;
    border-radius: 2.5rem;
    background: #658c4a;
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    /* Body Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
  }
  .popup-container {
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50vh;
    border-radius: 0.5rem;
    left: 0;
    right: 0;
  }

  .pop-up {
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    background: url("../assets/images/image\ 1005.png") #ffffff;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
  }
  .pop-up img {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
  .pop-up h6 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 1.25rem;
  }
  .pop-up p {
    color: #333333;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }
  .pop-up a {
    color: #658c4a;
    text-align: center;
    /* Body Small Semibold */
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    z-index: 99;
    position: relative;
    text-decoration: none;
    border-radius: 2.5rem;
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .rect {
    z-index: -1;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2.5rem;
    background: #e7cec0;
  }

  .highlights {
    background: #ffffff;
    display: flex;
    padding: 1.5rem 0.9375rem 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .category-banner {
    position: relative;
    height: 15rem;
    width: 100%;
    align-self: stretch;
    border-radius: 0.5rem;
    background: #658c4a;
  }
  .clothing {
    border-radius: 0.5rem;
    flex-shrink: 0;
    background: url("../assets/images/category-one.png") lightgray 50% / cover
      no-repeat;
    max-width: 100%;
    height: inherit;
  }
  .bedding {
    border-radius: 0.5rem;
    flex-shrink: 0;
    background: url("../assets/images/category-two.png") lightgray 50% / cover
      no-repeat;
    max-width: 100%;
    height: inherit;
  }

  .accessories {
    border-radius: 0.5rem;
    flex-shrink: 0;
    background: url("../assets/images/category-three.png") lightgray 50% / cover
      no-repeat;
    max-width: 100%;
    height: inherit;
  }

  .furnitures {
    border-radius: 0.5rem;
    flex-shrink: 0;
    background: url("../assets/images/category-four.png") lightgray 50% / cover
      no-repeat;
    max-width: 100%;
    height: inherit;
  }
  .home-goods {
    border-radius: 0.5rem;
    flex-shrink: 0;
    background: url("../assets/images/category-five.png") lightgray 50% / cover
      no-repeat;
    max-width: 100%;
    height: inherit;
  }
  .category-banner a {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    background: #333333;
    text-decoration: none;
    color: #ffffff;
    text-align: center;

    /* Body Xtra Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
  }
  .most-wanted {
    background: #ffefe5;
    display: flex;
    padding: 2.5rem 0.9375rem 2.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }
  .heading h1 {
    align-self: stretch;
    color: #333333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    font-weight: 700;
  }
  .heading p {
    align-self: stretch;
    color: #666666;
    text-align: center;
    /* Body Small Regular */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }

  .product-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .product {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .product-img {
    border-radius: 0.5rem;
    display: flex;
    width: 10.25rem;
    height: 10.25rem;
    justify-content: center;
    align-items: center;
  }

  .product-img-one {
    background: url("../assets/images/alpine.png") lightgray 50% / cover
      no-repeat;
  }

  .product-img-two {
    background: url("../assets/images/women-sole.png") lightgray 0px -32.8px / 100%
      140% no-repeat;
  }

  .product-img-three {
    background: url("../assets/images/patterned-basket.png") lightgray -1.959px 0px /
      102.389% 100% no-repeat;
  }
  .product-img-four {
    background: url("../assets/images/meliora.png") lightgray 50% / cover
      no-repeat;
  }

  .product p {
    align-self: stretch;
    color: #333333;
    /* Body Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
  }
  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .price span:first-of-type {
    color: #658c4a;
    /* Body Xtra Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
    align-self: stretch;
  }
  .price span:last-of-type {
    color: #999999;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
    text-decoration: line-through;
    align-self: stretch;
  }

  .new-arrivals {
    background: #ffffff;
    display: flex;
    padding: 2.5rem 0.9375rem 2.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .heading2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
  }

  .heading2 h1 {
    align-self: stretch;
    color: #333333;
    /* Heading 5 */
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .heading2 p {
    color: #666666;
    /* Body Xtra Small Regular */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem; /* 133.333% */
    align-self: stretch;
  }

  .product-list-frame {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
  }
  .product-list {
    padding-block-end: 1rem;
    overflow-x: scroll;
    scrollbar-color: #658c4a #e7e7e7;
    scrollbar-width: 16px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  .product-list::-webkit-scrollbar {
    width: 16px;
  }

  .product-list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }

  .product-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #658c4a;
  }

  span.price {
    align-self: stretch;
    color: #658c4a;
    /* Body Xtra Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
  }

  .product-list .product .product-img {
    display: flex;
    width: 11.25rem;
    height: 11.25rem;
    justify-content: center;
    align-items: center;
  }

  .product-list .product .product-img-one {
    background: url("../assets/images/lollygagger-lounge-chair-1.png") lightgray
      50% / cover no-repeat;
  }
  .product-list .product .product-img-two {
    background: url("../assets/images/lollygagger-lounge-chair-2.png") lightgray
      50% / cover no-repeat;
  }
  .product-list .product .product-img-three {
    background: url("../assets/images/nisswa-loveseat.png") lightgray 50% /
      cover no-repeat;
  }
  .product-list .product .product-img-four {
    background: url("../assets/images/outdoor-chaise.png") lightgray 50% / cover
      no-repeat;
  }
  .product-list .product .product-img-five {
    background: url("../assets/images/recycled-cubby-bench.png") lightgray 50% /
      cover no-repeat;
  }

  .product-list .product .product-img-six {
    background: url("../assets/images/recycled-table.png") lightgray 50% / cover
      no-repeat;
  }

  .product-list .product .product-img-seven {
    background: url("../assets/images/recycled-dining-chair.png") lightgray 50% /
      cover no-repeat;
  }
  .product-list .product .product-img-eight {
    background: url("../assets/images/recycled-round-end-table.png") lightgray
      50% / cover no-repeat;
  }

  .new-arrivals a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    /* Body Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    background: #658c4a;
  }

  .commitment {
    position: relative;
    display: flex;
    padding: 5rem 0.9375rem 5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: url("../assets/images/pexels-tim-douglas-6567651\ 1.png")
      lightgray 0px -100.292px / 100% 160% no-repeat;
    height: 25.9375rem;
  }
  .bg {
    position: absolute;
    top: 0;
    background: rgba(101, 140, 74, 0.9);
    width: 23.4375rem;
    height: 25.9375rem;
  }
  .commitment p {
    z-index: 99;
    color: #ffffff;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 1.25rem;
  }
  .commitment img {
    z-index: 99;
  }

  .why-us {
    z-index: 999;
    position: relative;
    background: #ffffff;
    display: flex;
    padding: 5rem 0.9375rem 5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .rect2 {
    border-radius: 2.5rem;
    background: #e7cec0;
    position: absolute;
    left: 3.6875rem;
    top: 4.5rem;
    width: 4rem;
    height: 1.375rem;
    transform: rotate(-15deg);
  }
  .why-us h1 {
    z-index: 99;
    align-self: stretch;
    color: #333333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 1.25rem;
  }
  .why-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-self: stretch;
  }
  .why-card {
    display: flex;
    width: 10.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .why-card-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
  }
  .why-card-desc h5 {
    color: #333333;
    /* Body Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    align-self: stretch;
  }
  .why-card-desc p {
    color: #666666;
    /* Body Small Regular */
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }

  .media {
    background: #658c4a;
    position: relative;
    display: flex;
    padding: 0rem 0.9375rem 2.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .media p {
    color: #658c4a;
    /* Heading 5 */
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    font-weight: 700;
    background: #e7cec0;
    display: flex;
    padding: 2.5rem 1.5rem 2.5rem 1rem;
    align-items: flex-start;

    align-self: center;
  }

  .media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-self: stretch;
  }
  .media-grid img {
    border-radius: 0.5rem;
    width: 9.125rem;
    height: 2.5rem;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../assets/images/image\ 1004.png") lightgray 50% / cover
      no-repeat;
    height: 34rem;
    flex-shrink: 0;
  }

  .subscribe-card {
    align-self: center;
    border-radius: 1.5rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 21.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .subscribe-card h3 {
    align-self: stretch;
    color: #333333;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
  }

  .subscribe-card p {
    color: #666666;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
    align-self: stretch;
  }

  .subscribe-input {
    border-radius: 2.5rem;
    border: 1px solid #cccccc;
    background: #ffffff;
    display: flex;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .subscribe-input > input {
    width: 50%;
    border: none;
    outline: none;
    color: #666666;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }
  button[type="submit"] {
    color: #ffffff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
    border: none;
    outline: none;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    background: var(--Primary, #658c4a);
  }

  .footer {
    position: relative;
    display: flex;
    padding: 10rem 0.9375rem 2.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #f5f5f5;
  }

  .footer-bg {
    position: absolute;
    height: 40.25rem;
    width: 100%;
    bottom: 6rem;
  }

  .brown-bg {
    height: 45rem;
    overflow-y: hidden;
    flex-shrink: 0;
    background: url("../assets/images/brown-texture\ 1.png") lightgray 50% /
      cover no-repeat;
    background-blend-mode: color-dodge;
  }
  .brown-bg img {
    width: 100%;
    z-index: 0;
    height: inherit;
    mix-blend-mode: darken;
  }
  .badge {
    position: absolute;
    right: auto;
    left: auto;
    top: 2.5rem;
    fill: var(--Primary, #658c4a);
    box-shadow: 0px 2.667px 2.667px 0px rgba(255, 255, 255, 0.15) inset,
      0px -2.667px 2.667px 0px rgba(0, 0, 0, 0.15) inset;
  }

  .footer-menu-grid {
    z-index: 20;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .footer-menu > h3 {
    align-self: stretch;
    color: var(--Primary, #658c4a);
    /* Body Normal Semibold */
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }

  .footer-links a {
    color: var(--Grey-600, #333);
    text-decoration: none;
    /* Body Xtra Small Semibold */
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem; /* 133.333% */
  }

  .divider {
    background: #333333;
    width: 21.5rem;
    height: 0.0625rem;
    z-index: 20;
  }

  .socials-container {
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }

  .socials-container > span {
    color: var(--Grey-600, #333);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem; /* 133.333% */
  }

  .sticky-chat {
    z-index: 999;
    bottom: 5vh;
    left: 85%;
    position: sticky;
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    background: var(--Primary, #658c4a);
    display: inline-flex;
    padding: 0.75rem;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
